.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/****/

/** FONT **/
.big-font{
  font-size: 2em!important;
}

/** BACKGROUNDS **/
.bg-beige{
  background-color: #f9f3ec!important;
}

.bg-red{
  background-color: #ed3833!important;
}

/** FORM **/

.nude-field{
  background-color: transparent!important;
  border-width: 0px!important;
}

.nude-field:focus{
  border-color: #00000057!important;
  box-shadow: 0 0 0 .25rem rgba(0,0,0,.25)!important;
}
